.recommendation-columns {
	width: 32.26%;
}

.empty_recommendation_content {
	margin-left: 41px;
}

#recommendation-content.section {
	clear: both;
	margin-left: 32px;
	margin-top: 16px;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row wrap;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	padding-top: 0px;
}

#recommendation-content-file-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	max-width: 200px;
	float: left;
	overflow: hidden;
}

#recommendation-headline.extension {
	clear: both;
	margin-left: 103px;
}

#recommendation-content-extension.extension {
	overflow: hidden;
	float: right;
	display: block;
}

#recommendation-transparency-extension {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.apps-header {
	margin-top: 13px;
}

#recommendation-content .thumbnail {
	margin-right: 10px;
	width: 32px;
	height: 32px;
	background-size: contain;
	flex-shrink: 0;
}

#recommendation-content .thumbnail-wrapper {
	max-width: 280px;
	/*white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

.col {
	display: block;
	float: left;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 20%;
}

.name {
	display: flex;
}

/* show 2 per line for screen sizes smaller that 1200px */
@media only screen and (max-width: 1200px) {
	.col {
		flex-basis: 50%;
		max-width: calc(50% - 15px);
	}

	#recommendation-content .thumbnail-wrapper {
		margin-bottom: 15px;
	}
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {
		flex-basis: 100%;
		min-width: 100%;
	}

	#recommendation-content .thumbnail-wrapper {
		margin-bottom: 15px;
	}
}